{% extends 'layout.html' %}

{% block content %}

<form method="POST" action="">
    <div class="">
        {{ form.username() }}
    </div>
    <div class="">
        {{ form.password() }}
    </div>
    <div class="">
        {{ form.confirm_password() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}